<div class="uk-section uk-section-primary uk-padding">
  <div class="uk-container uk-light">
    <h1>Welcome to Save Your Ocean!</h1>
    <h3>Please login with your username and password below!</h3>
  </div>
</div>



<div class="uk-section">
  <div class="uk-container uk-container-xsmall uk-align-center">
  <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-grid-match" uk-grid>
<div>
        <div class="uk-background-primary uk-padding uk-light">
        <h1 class="uk-heading-bullet" style="padding-top: 60px;">Login to SYO</h1>
        </div>
    </div>
  <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>

    <div>
        <div class="uk-background-muted uk-padding">
    <form method="post" action="/users/login">
      <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" type="text" name="username" id="username">
        </div>
    </div>

    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon uk-form-icon" uk-icon="icon: lock"></span>
            <input class="uk-input" type="password" name="password" id="password">
        </div>
    </div>
    <p><a href="#">Forgot password?</a></p>

  <button type="submit" value="submit" class="uk-button uk-button-primary">Login</button>
    </form>
    </div>
    </div>
</div>
    </div>
</div>
</div>