<div class="uk-section uk-section-primary uk-padding">
  <div class="uk-container uk-light">
    <h1>Join Save Your Ocean!</h1>
    <h3>Help us keep the planet clean! Find refillable water and beverage locations near you! Fill out the form below to join today!</h3>
  </div>
</div>

<% if flash.has?(:error) %>
    <div class="uk-section uk-padding-small">
      <div class="uk-container uk-container-small">
    <div class="cls:uk-animation-fade uk-alert-danger " uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <h3>Sorry</h3>
        <p><%= flash[:error] %></p>
    </div>
    </div>
    </div>
     <% end %>

<div class="uk-section">
  <div class="uk-container uk-container-xsmall uk-align-center">
  <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-grid-match" uk-grid>
<div>
        <div class="uk-background-primary uk-padding uk-light">
        <h1 class="uk-heading-bullet" style="padding-top: 60px;">Registration</h1>
        </div>
    </div>
  <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>

    <div>
        <div class="uk-background-muted uk-padding">
    <form method="post" action="/users/register">
      <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" type="text" name="username" id="username" placeholder="Username">
        </div>
      </div>

      <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: pencil"></span>
            <input class="uk-input" type="text" name="name" id="name" placeholder="Display Name">
        </div>
      </div>

      <div class="uk-margin">
          <div class="uk-inline">
              <span class="uk-form-icon uk-form-icon" uk-icon="icon: lock"></span>
              <input class="uk-input" type="password" name="password" id="password" placeholder="password">
          </div>
      </div>

      <div class="uk-margin">
          <div class="uk-inline">
              <span class="uk-form-icon uk-form-icon" uk-icon="icon: lock"></span>
              <input class="uk-input" type="password" name="password_confirmation" id="password_confirmation" placeholder="password">
          </div>
      </div>
    

  <button type="submit" value="submit" class="uk-button uk-button-primary">Join Now!</button>
    </form>
    </div>
    </div>
</div>
    </div>
</div>
</div>