development:
  adapter: postgresql
  encoding: unicode
  database: syo_development
  pool: 2

production:
  adapter: postgresql
  encoding: unicode
  reconnect: true
  database: <%= ENV['DB_NAME'] %>
  port: <%= ENV['DB_PORT'] %>
  pool: 20
  username: <%= ENV['DB_USERNAME'] %>
  password: <%= ENV['DB_PASSWORD'] %>
  host: <%= ENV['DB_HOST'] %>