<div class="uk-section">
  <div class="uk-container uk-container-small">
<div class="cls:uk-animation-fade uk-alert-danger " uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <h3>Sorry</h3>
    <p>You must be signed in to access the dashboard.</p>
</div>
</div>
</div>