<div class="uk-section uk-section-primary uk-padding">
  <div class="uk-container uk-light">
    <h1>Welcome to Save Your Ocean!</h1>
    <h3>Help us keep the planet clean! Find refillable water and beverage locations near you!</h3>
  </div>
</div>
