<div class="uk-section uk-section-primary uk-padding">
  <div class="uk-container uk-light">
    <h1>Add a New Location</h1>
    <h3>Please fill out the form below to submit a new location for approval.</h3>
  </div>
</div>

<div class="uk-section">
  <div class="uk-container uk-container-xsmall uk-align-center">
    <form class="uk-grid-small" method="post" action="/locations/new" uk-grid>
    <div class="uk-width-1-2@s">
        <div class="uk-inline">
      <span class="uk-form-icon" uk-icon="icon: user"></span>
      <input class="uk-input uk-form-width-large" type="text" name="name" placeholder="Location Name">
      </div>
    </div>
    <div class="uk-width-1-2">
        <div class="uk-inline">
      <span class="uk-form-icon" uk-icon="icon: location"></span>
        <input class="uk-input" type="text" name="address" placeholder="Address">
        </div>
    </div>
    <div class="uk-width-1-4@s">
        <div class="uk-inline">
      <span class="uk-form-icon" uk-icon="icon: user"></span>
      <input class="uk-input" type="text" name="city" placeholder="City">
      </div>
    </div>
    <div class="uk-width-1-4@s">
        <div class="uk-inline">
      <span class="uk-form-icon" uk-icon="icon: user"></span>
      <input class="uk-input" type="text" name="zipcode" placeholder="Zip Code">
      </div>
    </div>
    <div class="uk-width-1-2@s">
        <div class="uk-inline">
      <span class="uk-form-icon" uk-icon="icon: user"></span>
      <input class="uk-input" type="text" name="country" placeholder="Country Code (ex. US)">
      </div>
    </div>
    <div class="uk-width-1-1@s">
    <button type="submit" value="submit" class="uk-button uk-button-primary">Submit</button>
    </div>
</form>
    </div>
</div>
    </div>