<div class="uk-section uk-section-primary uk-padding">
  <div class="uk-container uk-light">
    <h1>Add a New Location</h1>
    <h3>Please fill out the form below to submit a new location for approval.</h3>
  </div>
</div>
<div class="uk-section">
  <div class="uk-container uk-container-xsmall uk-align-center">
    <div class="uk-card uk-card-body uk-width-1-1">
      <form class="uk-form-horizontal uk-margin-large" method="post" action="/locations/new">
        <div class="uk-margin">
          <label class="uk-form-label" for="form-horizontal-text">Location Name</label>
          <div class="uk-form-controls">
            <input class="uk-input uk-form-large" id="form-horizontal-text" type="text" name="name" placeholder="Starbucks">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-horizontal-text">Street</label>
          <div class="uk-form-controls">
            <input class="uk-input uk-form-large" id="form-horizontal-text" type="text" name="street" placeholder="1234 Pennsylvania Ave.">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-horizontal-text">City/Town</label></label>
        <div class="uk-form-controls">
          <input class="uk-input uk-form-large" id="form-horizontal-text" type="text" name="city" placeholder="Chicago">
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">State/Province</label>
        <div class="uk-form-controls">
          <input class="uk-input uk-form-large" id="form-horizontal-text" type="text" name="state" placeholder="Illinois">
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Phone #</label>
        <div class="uk-form-controls">
          <input class="uk-input uk-form-large" id="form-horizontal-text" type="text" name="phone" placeholder="+1(555)555-5555">
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Business Website</label>
        <div class="uk-form-controls">
          <input class="uk-input uk-form-large" id="form-horizontal-text" type="text" name="website" placeholder="https://example.com/">
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Twitter @Handle</label>
        <div class="uk-form-controls">
          <input class="uk-input uk-form-large" id="form-horizontal-text" type="text" name="twitter_handle" placeholder="@businessname">
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Facebook</label>
        <div class="uk-form-controls">
          <input class="uk-input uk-form-large" id="form-horizontal-text" type="text" name="facebook_handle" placeholder="businessname">
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-text">Business Photo*</label>
        <div class="uk-form-controls">
          <input class="uk-input uk-form-large" id="form-horizontal-text" type="text" name="image" placeholder="Direct link to image">
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-horizontal-select">Select Country</label>
        <div class="uk-form-controls">
          <select class="uk-select uk-form-large" name="country" id="form-horizontal-select">
            <option value="" selected disabled>--- Select Country ---</option>
            <option value="US">United States</option>
            <option value="VN">Vietnam</option>
          </select>
        </div>
      </div>
      <p>You can upload a photo at a website like <a href="https://imgbb.com">imgBB</a> and paste the direct link into this form.</p>
      <div class="uk-button-group uk-float-right">
        <button type="submit" value="submit" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-right">Submit</button> <button type="reset" value="reset" class="uk-button uk-button-danger uk-width-1-1">Reset</button>
      </div>
    </form>
  </div>
</div>
</div>
